<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="750">
            <div class="content">
                <div class='container'>
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content-wrap">
                            <table  cellpadding="0" cellspacing="0">

                                <tr>
                                    <td class="content-block">
                                        <img src='{{baseUrl}}/logos/logo_main.png' className='logo' style='width: 185px; height: 110px;' />
                                        <h2>Congratulations!</h2>
                                        <h3>You are successfully registered to Care Network.</h3>
                                        <br/>
                                        <hr />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        Username: <strong>{{user.username}}</strong>
                                        <br />
                                        Password: <strong>{{orig_password}}</strong>
                                        <br />
                                        Account Type: <strong>{{account_type}}</strong>
                                        <br />
                                        <br />
                                        <br />
                                        Activation Code: <strong>{{activation_code}}</strong>
                                        <br />
                                    </td>
                                </tr>

                              </table>
                              <a  class="btn btn-primary dim btn-large-dim" href="{{baseUrl}}/deactivated?activation_code={{activation_code}}">
                              {{!-- <button class="btn btn-primary dim btn-large-dim" type="button"> --}}
                              Confirm Account Activation
                              {{!-- </button> --}}
                              </a>
                        </td>
                    </tr>
                </table>
                </div>
                <div class="footer">
                    <table width="100%">
                        <tr>
                            <td class="aligncenter content-block">Powered By <a target="_blank" href="#">Care Network</a></td>
                        </tr>
                    </table>
                </div></div>
        </td>
        <td></td>
    </tr>
</table>
