<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="750">
            <div class="content">
                <div class='container'>
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content-wrap">
                            <table  cellpadding="0" cellspacing="0">

                                <tr>
                                    <td class="content-block">
                                        <h3>
                                            {{#if reminder.renewal_type_id}}
                                            Renewal Reminder for {{reminder.vehicle_name}}
                                            {{ else }}
                                            Service Reminder for {{reminder.vehicle_name}}
                                            {{/if}}
                                        </h3>
                                        <br/>
                                        <hr />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        Vehicle: {{reminder.vehicle_name}}
                                        <br/>
                                         {{#if reminder.renewal_type_id}}
                                        Renewal of: {{reminder.renewal_name}}<br/>
                                        Expiration date: {{moment reminder.start_date}}<br/>
                                        Days left: {{daysLeft reminder.start_date }}<br/>
                                        {{#ifeq reminder.renewal_type_id 1}} 
                                        Message: 'Please update your vehicle insurance.'
                                        {{else}}
                                        Message: 'Please update your vehicle registration.'                                        
                                        {{/ifeq}}
                                        
                                        {{ else }}
                                        Service: {{reminder.service_name}} day/s
                                        <br/>
                                        {{/if}}

                                        {{!-- Job Request #: <a href="{{baseUrl}}jobs/{{job.id}}/view">{{#if job.__id}}{{job.__id}}{{else}}{{job.id}}{{/if}}</a><br/> --}}
                                        {{!-- Job Request Code: <a href="{{baseUrl}}jobs/{{job.id}}/view">{{job.code}}</a><br/>                                         --}}
                                        {{!-- Code : {{job.code}} <br />
                                    
                                        {{#if job.operator}}
                                            Operator: {{job.operator.name}}
                                            <br />
                                        {{/if}}
                                        
                                        {{#if job.vehicle }}
                                            Vehicle: {{job.vehicle.name}}
                                            <br />                                        
                                        {{/if}}

                                        {{#if job.__created_by}}
                                          By: <strong>{{job.__created_by.fullname}}</strong>
                                        {{else}}
                                          {{#if job.created_by}}
                                            Filed by: <strong>{{jobMaker.lastname}}, {{jobMaker.firstname}}</strong>
                                          {{/if}}
                                        {{/if}}
                                        <br />
                                        Date filed: {{moment job.created_at}} 
                                        {{#ifeq job.status 2 }}
                                            Remarks: {{job.remarks}} 
                                        {{/ifeq}} --}}
                                         
                                    </td>
                                </tr>

                              </table> 
                              <a  class="btn btn-primary dim btn-large-dim" href="{{baseUrl}}vehicles/{{reminder.vehicle_id}}/view">
                              {{!-- <button class="btn btn-primary dim btn-large-dim" type="button"> --}}
                              View Vehicle
                              {{!-- </button> --}}
                              </a>
                              {{#unless reminder.renewal_type_id}}
                              <a  class="btn btn-primary dim btn-large-dim" href="{{baseUrl}}cases/new-pm">
                              {{!-- <button class="btn btn-primary dim btn-large-dim" type="button"> --}}
                              Submit Service Fullfillment
                              {{!-- </button> --}}
                              </a>
                              
                              {{/unless}}
                        </td>
                    </tr>
                </table>
                </div>               
                <div class="footer">
                    <table width="100%">
                        <tr>
                            <td class="aligncenter content-block">Powered By <a target="_blank" href="http://vibalgroup.com/">Vibal Group Inc</a></td>
                        </tr>
                    </table>
                </div></div>
        </td>
        <td></td>
    </tr>
</table>
