<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daily Summary Report</title>
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/vendor/highcharts.js"></script>
  <style>
    body {
      font-size: 10px !important;
      zoom: 0.53;
    }
  </style>
</head>
<body>
  <h2 class="text-center">Cash Position Report</h2>
  <h5 class="text-center">{{date}}</h5>
  <div id="container" style=""></div>
  <div class="container">
    {{#each summary.companies}}
      <div style="">
        <p><strong>CASH SUMMARY({{this.code}})</strong></p>
        <table class="table table-striped table-justified" width="0%" cellspacing="0">
            <thead>
              <tr class="header_cashsummary">
                <th>Peso Account</th><th class="">Beginning Balance</th>
                <th class="">Deposits</th>
                <th class="">Withdrawable Balance </th>
                <th class="">Cash on hand </th>
                <th class="">Spending Total </th>
                <th class="">Ending Balance</th>
                <th class="">Cash in Bank</th>
              </tr>
            </thead>
              <tbody>
                {{#each this.accounts}}
                  <tr>
                    <td>{{this.bank_account}}</td>
                    <td class="cash_on">{{formatNumber this.withdrawable}}</td>
                    <td class="cash_on">{{formatNumber this.deposit}}</td>
                    <td class="cash_on">{{formatNumber this.withdrawable}}</td>
                    <td class="cash_on_main "><strong>{{formatNumber this.cashonhand}}</strong></td>
                    <td class="cash_in">{{formatNumber this.spendingtotal}}</td>
                    <td class="cash_in">{{formatNumber this.endingbalance}}</td>
                    <td class="cash_in_main"><strong>{{formatNumber this.cashinbank}}</strong></td>
                  </tr>
                {{/each}}
                <tr>
                  <td><strong>Total</strong></td>
                  <td><strong>{{formatNumber this.totals.withdrawable }}</strong></td>
                  <td><strong>{{formatNumber this.totals.deposit }}</strong></td>
                  <td><strong>{{formatNumber this.totals.withdrawable }}</strong></td>
                  <td><strong>{{formatNumber this.totals.cashonhand }}</strong></td>
                  <td><strong>{{formatNumber this.totals.spendingtotal }}</strong></td>
                  <td><strong>{{formatNumber this.totals.endingbalance }}</strong></td>
                  <td><strong>{{formatNumber this.totals.cashinbank }}</strong></td>
                </tr>
              </tbody>
          </table>
      </div>
    {{/each}}

    {{#each summary.ars}}
      <div style="">
        <p><strong>{{this.code}} - Check and Cash Receipts</strong></p>
        <table class="table table-striped table-justified" width="0%" cellspacing="0">
          <thead>
            <tr>
              <th>Payee</th>
              <th>Check no.</th>
              <th>Amount</th>
              <th>Description</th>
              <th>Deposited to</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.items}}
              <tr>
                <td>{{this.collection.payor}}</td>
                <td>
                  {{#ifeq this.type 'check'}}
                    {{this.check_number}}
                  {{else}}
                    {{this.type}}
                  {{/ifeq}}
                </td>
                <td>{{formatNumber this.amount}}</td>
                <td>{{this.collection.source}}</td>
                <td>{{this.bank_account}}</td>
              </tr>
            {{/each}}
            <tr>
              <td />
              <td />
              <td><strong>{{formatNumber this.amount}}</strong></td>
              <td />
              <td />
            </tr>
          </tbody>
        </table>
      </div>
    {{/each}}

    {{#each summary.aps}}
      <div>
        <p><strong>{{this.code}} - Disbursed checks and payments</strong></p>
        <table class="table table-striped table-justified" width="0%" cellspacing="0">
          <thead>
            <tr>
              <th>Payee</th>
              <th>Check no.</th>
              <th>Amount</th>
              <th>Description</th>
              <th>Deposited to</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.items}}
              <tr>
                <td>
                  {{#if this.document.merchant_name}}
                    {{this.document.merchant_name}}
                  {{else}}
                    {{this.document.requestor_name}}
                  {{/if}}
                </td>
                <td>{{check_no}}</td>
                <td>{{formatNumber this.check_amount}}</td>
                <td>{{document.documentType.description}}</td>
                <td>{{this.bank_account_no}}</td>
              </tr>
            {{/each}}
            <tr>
              <td />
              <td />
              <td><strong>{{formatNumber this.amount}}</strong></td>
              <td />
              <td />
            </tr>
          </tbody>
        </table>
      </div>
    {{/each}}
  </div>

  {{!--<script>
    Highcharts.chart('container', {
      title: {
        text: 'Cash Summary Report',
        x: -20 // center
      },
      subtitle: {
        text: ' Week to date ',
        x: -20
      },
      xAxis: {
        categories: {{{toJSON summary.charts.categories}}}
      },
      yAxis: {
        title: {
          text: 'Millions'
        },
        plotLines: [{
          value: 0,
          width: 1,
          color: '#808080'
        }]
      },
      tooltip: {
        valueSuffix: ''
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
      },
      enabled: false,
      series: {{{toJSON summary.charts.series}}},
      chart: {
        animation: false
      },
      plotOptions: {
        line: {
          animation: false
        },
        series: {
          animation: false
        }
      }
    });
  </script>--}}
</body>
</html>
