
.panel-wrapper {
    display: block;
    width: 100%;
    position: relative;
background: url('../assets/bg-login01.jpg') no-repeat;
background-size: cover;
background-position: center;
}

// login Styles


.form-group {
    position: relative;
    margin-bottom: 23px
}
.form-label {
    display: block;
    font-size: 11px;
    color: #434C5E;
    margin-bottom: 8px
}
.form-input {
    display: block;
    width: 100%;
    border: 1px solid #D4D9E2;
    border-radius: 3px;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    color: #596377;
    outline: 0;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease
}
.form-input::-webkit-input-placeholder {
    color: #C6CCD7
}
.form-input:-moz-placeholder {
    color: #C6CCD7
}
.form-input::-moz-placeholder {
    color: #C6CCD7
}
.form-input:ms-input-placeholder {
    color: #C6CCD7
}
.form-input:focus {
    border-color: #8C96A9
}
.form-input.error {
    border: 1px solid #E73737;
    margin-bottom: 10px
}
.form-help {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: #8C96A9;
    -webkit-transition: color .2s ease;
    transition: color .2s ease
}
.main-panel,
.panel-wrapper {
    position: relative
}
.form-help:focus,
.form-help:hover {
    color: #434C5E
}
.form-button {
    display: inline-block;
    margin: 20px auto;
    background: #F36;
    border-radius: 100px;
    height: 50px;
    line-height: 50px;
    padding: 0 60px;
    font-size: 12px;
    color: #FFF;
    cursor: pointer;
    -webkit-transition: box-shadow .2s ease, border .2s ease;
    transition: box-shadow .2s ease, border .2s ease
}
.form-button:focus,
.form-button:hover {
    cursor: pointer;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .25)
}
.form-button:active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2)
}
.form-button--alternate {
    background-color: #11B683
}
.form-error {
    font-size: 14px;
    font-weight: 600;
    color: #E73737;
    letter-spacing: 0;
    margin-bottom: 24px
}
.form__legal,
.form__legal a,
.form__legal a:hover {
    color: #8C96A9
}
.form__legal {
    margin-bottom: 0;
    padding-bottom: 30px
}
.form__legal a {
    text-decoration: underline
}
.alert-dynamic,
.alert-error {
    color: #E73737
}
.alert-error {
    display: none
}
.alert-dynamic {
    display: block
}
.panel-wrapper {
    display: block;
    width: 100%
}
@media (min-width: 1076px) {
    .main-panel {
        margin-left: 460px
    }
}
@media (min-width: 1076px) and (min-height: 600px) {
    .panel-wrapper {
        height: 100%
    }
    .main-panel {
        height: 100%;
        overflow: auto
    }
}
.main-panel-switch {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 38px;
    margin-bottom: 46px;
    margin-right: 5%;
    font-size: 13px;
    color: #596377;
    letter-spacing: 0;
    line-height: 36px
}
.main-panel-switch-text {
    display: none
}
@media (min-width: 600px) {
    .invision-logo {
        left: 38px
    }
    .main-panel-switch {
        margin-right: 38px
    }
    .main-panel-switch-text {
        display: inline
    }
}
.main-panel-table {
    display: table;
    width: 100%;
    height: 100%
}
.main-panel-table-cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-top: 100px;
    padding-bottom: 100px
}
.main-panel-content {
    clear: both;
    width: 90%;
    max-width: 540px;
    margin: 0 auto
}
.main-panel-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    border-top: 1px solid #D4D9E2
}
.main-panel-heading {
    font-size: 28px;
    font-weight: 400;
    color: #434C5F;
    margin-bottom: 50px
}
.main-panel-subheading {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #596377
}
.main-panel-switch-button {
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #C6CCD7;
    border-radius: 100px;
    font-family: brandon-grotesque, "Open Sans", open-sans, sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #596377;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 12px;
    padding: 0 28px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}
.main-panel-switch-button:focus,
.main-panel-switch-button:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .25);
    background-color: #F36;
    border: 1px solid #F36
}
.main-panel-switch-button:active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2)
}
@media (min-width: 1076px) {
    .main-panel--single {
        margin-left: 0
    }
}
.main-panel__badge {
    display: block;
    width: 82px;
    height: 82px;
    margin: 0 auto;
    border-radius: 6px
}
.main-panel__badge--default {
    background-position: center;
    background-repeat: no-repeat;
    background-color: #898f9a
}
.feature-panel {
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 460px;
    min-height: 600px;
    height: 100%;
    overflow: hidden;
    background: rgba(36, 40, 56, .65)
}
@media (min-width: 1076px) {
    .feature-panel {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
}
@media (min-height: 600px) {
    .feature-panel {
        position: fixed
    }
}
.feature-panel-login {
    background: url('../assets/featured_image.jpg');
    background-size: cover;
    text-align: center
}
.login-panel-footer {
    position: absolute;
    bottom: 40px;
    left: 55px;
    right: 55px
}
.login-panel-footer-lead {
    margin-bottom: 28px;
    opacity: .39;
    font-family: brandon-grotesque, "Open Sans", open-sans, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: .91px
}
.login-panel-content {
    padding: 0 55px
}
.login-panel-header {
    margin-bottom: 33px;
    opacity: .89;
    font-family: brandon-grotesque, "Open Sans", open-sans, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #FFF;
    letter-spacing: 1.42px;
    text-transform: uppercase
}
.login-panel-button,
.sso-knocking__title {
    font-family: brandon-grotesque, "Open Sans", open-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase
}
.login-panel-subheader {
    display: block;
    margin-bottom: 17px;
    font-size: 12px;
    color: #FFF;
    letter-spacing: 1.09px
}
.login-panel-caption {
    margin-bottom: 35px;
    opacity: .69;
    font-style: italic;
    font-size: 15px;
    color: #FFF;
    line-height: 25px
}
.login-panel-button {
    display: inline-block;
    background: #1E8FE1;
    border-radius: 100px;
    font-size: 10px;
    color: #FFF;
    letter-spacing: 1px;
    padding: 0 36px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    -webkit-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease
}
.feature-panel--quotes,
.sso-knocking__option-item {
    background-position: center;
    background-repeat: no-repeat
}
.login-panel-button:focus,
.login-panel-button:hover {
    text-decoration: none;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .25)
}

.feature-panel--quotes {
    background-size: cover
}
.feature-panel--quotes:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 480px;
    background-image: -webkit-linear-gradient(91deg, #141516 7%, rgba(43, 51, 65, 0) 100%);
    background-image: linear-gradient(-1deg, #141516 7%, rgba(43, 51, 65, 0) 100%)
}
.sso-alternate {
    font-size: 13px;
    color: #596377;
    letter-spacing: 0;
    text-decoration: underline
}
.sso-knocking__title {
    font-size: 11px
}
.sso-knocking__options {
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none
}
.sso-knocking__option-item {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 36px;
    background-size: 16px 16px;
    background-color: #fff;
    -webkit-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease;
    cursor: pointer
}

.sso-knock-modal {
    position: fixed;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .87)
}
.sso-knock-modal .content {
    width: 760px;
    margin: 0 auto;
    padding: 75px 20px;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    border-radius: 4px
}
.sso-knock-modal .title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 400;
    color: #434C5F
}
.button,
.sso-knock-modal .back {
    border-radius: 100px;
    font-family: brandon-grotesque, "Open Sans", open-sans, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase
}
.sso-knock-modal .message {
    width: 430px;
    margin: 15px auto;
    line-height: 24px;
    font-size: 16px;
    color: #8C96A9
}
.sso-knock-modal .back {
    display: block;
    margin: 50px auto 30px;
    background: #11B683;
    height: 50px;
    line-height: 50px;
    width: 200px;
    font-size: 12px;
    color: #FFF;
    cursor: pointer;
    -webkit-transition: box-shadow .2s ease, border .2s ease;
    transition: box-shadow .2s ease, border .2s ease
}
.sso-knock-modal .back:focus,
.sso-knock-modal .back:hover {
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .25)
}
.sso-knock-modal .contact {
    margin-top: 55px;
    margin-bottom: 0;
    font-size: 14px
}
.sso-knock-modal .contact a {
    color: #1E8FE1;
    text-decoration: underline
}
.button {
    display: inline-block;
    background: #1E8FE1;
    font-size: 10px;
    color: #FFF;
    padding: 0 36px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}
.sign-up__quote__logo--netflix,
.sign-up__quote__logo--twitter,
.sign-up__quote__logo--uber {
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden
}
.button:hover {
    text-decoration: none;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .25)
}
.button:active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2)
}
.button--link {
    color: #596377;
    background-color: transparent
}
.button--link:active,
.button--link:hover {
    color: #434C5E;
    box-shadow: none;
    background-color: transparent
}
.alert {
    margin-bottom: 23px
}
.alert--success {
    color: #14B876
}
.alert--error {
    color: #b94a48
}


.quotes__pagination {
    position: absolute;
    width: 50%;
    bottom: 40px;
    right: 40px;
    margin: 0;
    text-align: right
}
.pagination__page {
    cursor: pointer;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 20px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .5);
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease
}
.pagination__page.selected {
    background-color: #fff
}
.sign-up__quote {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 40px
}
.sign-up__quote.selected {
    display: block
}
.sign-up__quote__excerpt {
    position: relative;
    margin-bottom: 40px;
    font-size: 16px;
    font-style: italic;
    color: #FFF;
    line-height: 26px;
    opacity: .8
}
.sign-up__quote__name {
    opacity: .8;
    font-weight: 600;
    font-size: 11px;
    color: #FFF;
    letter-spacing: 1px;
    text-transform: uppercase
}
.hidden {
    display: none
}
.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.login-select-brand-title {
    font-size: 28px;
    font-weight: 400;
    color: #434C5F;
    margin-bottom: 40px;
    text-align: center
}
.new-login-select-brand {
    border-radius: 5px;
    width: 90%;
    max-width: 540px;
    margin: 0 auto
}
.new-login-select-brand form {
    margin: 0;
    padding: 0
}
.new-login-select-brand .new-brand-select {
    list-style: none;
    margin: 0;
    padding: 0
}
.new-login-select-brand .new-brand-select li {
    padding: 24px;
    color: #3e4b59;
    cursor: pointer;
    font: 400 16px/1em 'Open Sans';
    margin-bottom: 16px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .05), 0 1px 2px 0 rgba(0, 0, 0, .2);
    height: 96px;
    position: relative
}
.new-login-select-brand .new-brand-select li div,
.new-login-select-brand .new-brand-select li i,
.new-login-select-brand .new-brand-select li p {
    display: inline-block;
    margin: 0;
    vertical-align: middle
}
.new-login-select-brand .new-brand-select li p {
    max-width: 167px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
    font-weight: 400;
    color: #434C5E
}
.new-login-select-brand .new-brand-select li p small {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #8C96A9;
    display: block;
    font-size: 13px;
    font-weight: 400
}
@media (min-width: 400px) {
    .new-login-select-brand .new-brand-select li p {
        max-width: 250px
    }
}
@media (min-width: 600px) {
    .new-login-select-brand .new-brand-select li p {
        max-width: 290px
    }
}
.new-login-select-brand .new-brand-select li .brand-logo {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden
}
.new-login-select-brand .new-brand-select li .brand-logo.no-logo {
    background: #ccc
}
.new-login-select-brand .new-brand-select li .brand-logo img {
    max-width: 48px;
    max-height: 48px
}
.new-login-select-brand .new-brand-select li .brand-logo.my-inv {
    background: 0 0
}
.new-login-select-brand .new-brand-select li input {
    display: none
}
.new-login-select-brand .new-brand-select li .form-button {
    display: inline;
    margin: 0;
    padding: 0;
    height: 36px;
    width: 115px;
    border-radius: 100px;
    border: 1px solid #a3aebf;
    font-family: brandon-grotesque, "Open Sans", open-sans, sans-serif;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #fff;
    color: #596377;
    cursor: pointer;
    line-height: 0;
    position: absolute;
    right: 24px;
    top: 30px
}
.new-login-select-brand .new-brand-select li:focus,
.new-login-select-brand .new-brand-select li:hover {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2)
}
.new-login-select-brand .new-brand-select li:focus .form-button,
.new-login-select-brand .new-brand-select li:hover .form-button {
    background-color: #11B683;
    border-color: #11B683;
    color: #fff
}
.new-login-select-brand .new-brand-select li:focus .form-button:focus,
.new-login-select-brand .new-brand-select li:focus .form-button:hover,
.new-login-select-brand .new-brand-select li:hover .form-button:focus,
.new-login-select-brand .new-brand-select li:hover .form-button:hover {
    box-shadow: 0 0
}
@media (max-width: 600px) {
    .new-login-select-brand .new-brand-select li .form-button {
        display: none
    }
}
body,
html,
input {
    font-family: "Open Sans", open-sans, sans-serif;
    font-weight: 400;
    font-size: 12px
}
body,
button,
html,
input {
    font-size: 12px
}
button,
button:active,
button:focus {
    border: 0;
    outline: 0
}
.form-button,
.form-label {
    letter-spacing: 1px;
    text-transform: uppercase
}
* {
    box-sizing: border-box
}
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    color: #5f697a
}
.form-button,
.form-label,
button {
    font-weight: 700;
    font-family: brandon-grotesque, "Open Sans", open-sans, sans-serif
}
a {
    text-decoration: none
}
img {
    max-width: 100%
}
.text--left {
    text-align: left
}
.text--center {
    text-align: center
}
.text--right {
    text-align: right
}
.form-button,
.form__legal,
.main-panel--single .main-panel-heading,
.main-panel-footer,
.saml-button,
.sso-knock-modal .content,
.sso-knocking__options,
.sso-knocking__title {
    text-align: center
}

.form-group {
    position: relative;
    margin-bottom: 23px
}
.form-label {
    display: block;
    font-size: 11px;
    color: #434C5E;
    margin-bottom: 8px
}
.form-input {
    display: block;
    width: 100%;
    border: 1px solid #D4D9E2;
    border-radius: 3px;
    height: 50px;
    padding: 15px;
    font-size: 14px;
    color: #596377;
    outline: 0;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease
}
.form-input::-webkit-input-placeholder {
    color: #C6CCD7
}
.form-input:-moz-placeholder {
    color: #C6CCD7
}
.form-input::-moz-placeholder {
    color: #C6CCD7
}
.form-input:ms-input-placeholder {
    color: #C6CCD7
}
.form-input:focus {
    border-color: #8C96A9
}
.form-input.error {
    border: 1px solid #E73737;
    margin-bottom: 10px
}
.form-help {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: #8C96A9;
    -webkit-transition: color .2s ease;
    transition: color .2s ease
}

.form-help:focus,
.form-help:hover {
    color: #434C5E
}
.form-button {
    display: inline-block;
    margin: 20px auto;
    background: #178fc4;
    border-radius: 20px;
    height: 44px;
    line-height: 35px;
    padding: 0px 50px;
    font-size: 12px;
    color: #FFF;
    cursor: pointer;
    -webkit-transition: box-shadow .2s ease, border .2s ease;
    transition: box-shadow .2s ease, border .2s ease;
}
.form-button:focus,
.form-button:hover {
    cursor: pointer;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .25)
}
.form-button:active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2)
}
.form-button--alternate {
    background-color: #11B683
}
.form-error {
    font-size: 14px;
    font-weight: 600;
    color: #E73737;
    letter-spacing: 0;
    margin-bottom: 24px
}
.form__legal,
.form__legal a,
.form__legal a:hover {
    color: #8C96A9
}
.form__legal {
    margin-bottom: 0;
    padding-bottom: 30px
}
.form__legal a {
    text-decoration: underline
}
.alert-dynamic,
.alert-error {
    color: #E73737
}
.alert-error {
    display: none
}
.alert-dynamic {
    display: block
}
.panel-wrapper {
    display: block;
    width: 100%
}
@media (min-width: 1076px) {
    .main-panel {
        margin-left: 460px
    }
}
@media (min-width: 1076px) and (min-height: 600px) {
    .panel-wrapper {
        height: 100%
    }
    .main-panel {
        height: 100%;
        overflow: auto
    }
}
.main-panel-switch {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 38px;
    margin-bottom: 46px;
    margin-right: 5%;
    font-size: 13px;
    color: #596377;
    letter-spacing: 0;
    line-height: 36px
}
.main-panel-switch-text {
    display: none
}
@media (min-width: 600px) {
    .invision-logo {
        left: 38px
    }
    .main-panel-switch {
        margin-right: 38px
    }
    .main-panel-switch-text {
        display: inline
    }
}
.main-panel-table {
    display: table;
    width: 100%;
    height: 100%
}
.main-panel-table-cell {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-top: 100px;
    padding-bottom: 100px
}
.main-panel-content {
    clear: both;
    width: 90%;
    max-width: 540px;
    margin: 0 auto
}
.main-panel-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    border-top: 1px solid #D4D9E2
}
.main-panel-heading {
    font-size: 28px;
    font-weight: 400;
    color: #434C5F;
    margin-bottom: 50px
}
.main-panel-subheading {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #596377
}
.main-panel-switch-button {
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #C6CCD7;
    border-radius: 100px;
    font-family: brandon-grotesque, "Open Sans", open-sans, sans-serif;
    font-weight: 700;
    font-size: 10px;
    color: #596377;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 12px;
    padding: 0 28px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}
.main-panel-switch-button:focus,
.main-panel-switch-button:hover {
    color: #fff;
    text-decoration: none;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .25);
    background-color: #F36;
    border: 1px solid #F36
}
.main-panel-switch-button:active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2)
}
@media (min-width: 1076px) {
    .main-panel--single {
        margin-left: 0
    }
}
.main-panel__badge {
    display: block;
    width: 82px;
    height: 82px;
    margin: 0 auto;
    border-radius: 6px
}

.feature-panel {
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 460px;
    min-height: 600px;
    height: 100%;
    overflow: hidden;
    background: rgba(36, 40, 56, .65)
}
@media (min-width: 1076px) {
    .feature-panel {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
}
@media (min-height: 600px) {
    .feature-panel {
        position: fixed
    }
}
.feature-panel-login {
    background: url('../assets/featured_image.jpg');
    background-size: cover;
    text-align: center;
}
.login-panel-footer {
    position: absolute;
    bottom: 40px;
    left: 55px;
    right: 55px
}
.login-panel-footer__lead {
    margin-bottom: 28px;
    opacity: .39;
    font-family: brandon-grotesque, "Open Sans", open-sans, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: .91px
}
.login-panel-content {
    padding: 0 55px
}
.login-panel-header {
    margin-bottom: 33px;
    opacity: .89;
    font-family: brandon-grotesque, "Open Sans", open-sans, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #FFF;
    letter-spacing: 1.42px;
    text-transform: uppercase
}
.login-panel-button,
.sso-knocking__title {
    font-family: brandon-grotesque, "Open Sans", open-sans, sans-serif;
    font-weight: 700;
    text-transform: uppercase
}
.login-panel-subheader {
    display: block;
    margin-bottom: 17px;
    font-size: 12px;
    color: #FFF;
    letter-spacing: 1.09px
}
.login-panel-caption {
    margin-bottom: 35px;
    opacity: .69;
    font-style: italic;
    font-size: 15px;
    color: #FFF;
    line-height: 25px
}
.login-panel-button {
    display: inline-block;
    background: #1E8FE1;
    border-radius: 100px;
    font-size: 10px;
    color: #FFF;
    letter-spacing: 1px;
    padding: 0 36px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    -webkit-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease
}
.feature-panel--quotes,
.sso-knocking__option-item {
    background-position: center;
    background-repeat: no-repeat
}
.login-panel-button:focus,
.login-panel-button:hover {
    text-decoration: none;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .25)
}

.feature-panel--quotes {
    background-size: cover
}
.feature-panel--quotes:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 480px;
    background-image: -webkit-linear-gradient(91deg, #141516 7%, rgba(43, 51, 65, 0) 100%);
    background-image: linear-gradient(-1deg, #141516 7%, rgba(43, 51, 65, 0) 100%)
}
.sso-alternate {
    font-size: 13px;
    color: #596377;
    letter-spacing: 0;
    text-decoration: underline
}
.sso-knocking__title {
    font-size: 11px
}
.sso-knocking__options {
    display: block;
    margin: 0 auto;
    padding: 0;
    list-style: none
}
.sso-knocking__option-item {
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 36px;
    background-size: 16px 16px;
    background-color: #fff;
    -webkit-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease;
    cursor: pointer
}

.sso-knock-modal {
    position: fixed;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .87)
}
.sso-knock-modal .content {
    width: 760px;
    margin: 0 auto;
    padding: 75px 20px;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    border-radius: 4px
}
.sso-knock-modal .title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 400;
    color: #434C5F
}
.button,
.sso-knock-modal .back {
    border-radius: 100px;
    font-family: brandon-grotesque, "Open Sans", open-sans, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase
}
.sso-knock-modal .message {
    width: 430px;
    margin: 15px auto;
    line-height: 24px;
    font-size: 16px;
    color: #8C96A9
}
.sso-knock-modal .back {
    display: block;
    margin: 50px auto 30px;
    background: #11B683;
    height: 50px;
    line-height: 50px;
    width: 200px;
    font-size: 12px;
    color: #FFF;
    cursor: pointer;
    -webkit-transition: box-shadow .2s ease, border .2s ease;
    transition: box-shadow .2s ease, border .2s ease
}
.sso-knock-modal .back:focus,
.sso-knock-modal .back:hover {
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .25)
}
.sso-knock-modal .contact {
    margin-top: 55px;
    margin-bottom: 0;
    font-size: 14px
}
.sso-knock-modal .contact a {
    color: #1E8FE1;
    text-decoration: underline
}
.button {
    display: inline-block;
    background: #1E8FE1;
    font-size: 10px;
    color: #FFF;
    padding: 0 36px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}
.sign-up__quote__logo--netflix,
.sign-up__quote__logo--twitter,
.sign-up__quote__logo--uber {
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden
}
.button:hover {
    text-decoration: none;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .25)
}
.button:active {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2)
}
.button--link {
    color: #596377;
    background-color: transparent
}
.button--link:active,
.button--link:hover {
    color: #434C5E;
    box-shadow: none;
    background-color: transparent
}
.alert {
    margin-bottom: 23px
}
.alert--success {
    color: #14B876
}
.alert--error {
    color: #b94a48
}


.quotes__pagination {
    position: absolute;
    width: 50%;
    bottom: 40px;
    right: 40px;
    margin: 0;
    text-align: right
}
.pagination__page {
    cursor: pointer;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 20px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .5);
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease
}
.pagination__page.selected {
    background-color: #fff
}
.sign-up__quote {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 40px
}
.sign-up__quote.selected {
    display: block
}
.sign-up__quote__excerpt {
    position: relative;
    margin-bottom: 40px;
    font-size: 16px;
    font-style: italic;
    color: #FFF;
    line-height: 26px;
    opacity: .8
}
.sign-up__quote__name {
    opacity: .8;
    font-weight: 600;
    font-size: 11px;
    color: #FFF;
    letter-spacing: 1px;
    text-transform: uppercase
}
.sign-up__quote__logo {
    margin-bottom: 40px
}
.hidden {
    display: none
}
.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.login-select-brand-title {
    font-size: 28px;
    font-weight: 400;
    color: #434C5F;
    margin-bottom: 40px;
    text-align: center
}
.new-login-select-brand {
    border-radius: 5px;
    width: 90%;
    max-width: 540px;
    margin: 0 auto
}
.new-login-select-brand form {
    margin: 0;
    padding: 0
}
.new-login-select-brand .new-brand-select {
    list-style: none;
    margin: 0;
    padding: 0
}
.new-login-select-brand .new-brand-select li {
    padding: 24px;
    color: #3e4b59;
    cursor: pointer;
    font: 400 16px/1em 'Open Sans';
    margin-bottom: 16px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, .05), 0 1px 2px 0 rgba(0, 0, 0, .2);
    height: 96px;
    position: relative
}
.new-login-select-brand .new-brand-select li div,
.new-login-select-brand .new-brand-select li i,
.new-login-select-brand .new-brand-select li p {
    display: inline-block;
    margin: 0;
    vertical-align: middle
}
.new-login-select-brand .new-brand-select li p {
    max-width: 167px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
    font-weight: 400;
    color: #434C5E
}
.new-login-select-brand .new-brand-select li p small {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #8C96A9;
    display: block;
    font-size: 13px;
    font-weight: 400
}
@media (min-width: 400px) {
    .new-login-select-brand .new-brand-select li p {
        max-width: 250px
    }
}
@media (min-width: 600px) {
    .new-login-select-brand .new-brand-select li p {
        max-width: 290px
    }
}
.new-login-select-brand .new-brand-select li .brand-logo {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden
}
.new-login-select-brand .new-brand-select li .brand-logo.no-logo {
    background: #ccc
}
.new-login-select-brand .new-brand-select li .brand-logo img {
    max-width: 48px;
    max-height: 48px
}
.new-login-select-brand .new-brand-select li .brand-logo.my-inv {
    background: 0 0
}
.new-login-select-brand .new-brand-select li input {
    display: none
}
.new-login-select-brand .new-brand-select li .form-button {
    display: inline;
    margin: 0;
    padding: 0;
    height: 36px;
    width: 115px;
    border-radius: 100px;
    border: 1px solid #a3aebf;
    font-family: brandon-grotesque, "Open Sans", open-sans, sans-serif;
    font-size: 10px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #fff;
    color: #596377;
    cursor: pointer;
    line-height: 0;
    position: absolute;
    right: 24px;
    top: 30px
}
.new-login-select-brand .new-brand-select li:focus,
.new-login-select-brand .new-brand-select li:hover {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2)
}
.new-login-select-brand .new-brand-select li:focus .form-button,
.new-login-select-brand .new-brand-select li:hover .form-button {
    background-color: #11B683;
    border-color: #11B683;
    color: #fff
}
.new-login-select-brand .new-brand-select li:focus .form-button:focus,
.new-login-select-brand .new-brand-select li:focus .form-button:hover,
.new-login-select-brand .new-brand-select li:hover .form-button:focus,
.new-login-select-brand .new-brand-select li:hover .form-button:hover {
    box-shadow: 0 0
}
@media (max-width: 600px) {
    .new-login-select-brand .new-brand-select li .form-button {
        display: none
    }
}
